@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body {
    background: url('../images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    justify-content: center;
    position: relative;
}

/*------------------------------Special Padding/Margins/Text*/

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #000000;
}


/*------------------------------Heading*/

header {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 35px;
    margin-right: 0;
}

.background-box {
    background-color: rgba(255, 255, 255, 0.3);
}

.title h1 {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 70px;
    margin-top: 10px;
    margin-bottom: 0;
    color: #000000;
}

/*------------------------------NAVBAR*/

.menuitem {
    width: 90px;
    height: 90px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #000000;
    height: 90px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #000000;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

/*------------------------------Hover.css*/

.title a {
    text-decoration: none;
}

.hvr-sweep-to-bottom:before {
    width: 85px;
    background: rgba(0, 0, 0, 0.2);
    height: 100px;
}

.social-links li a i:hover {
    background: #742308;
}

/*------------------------------Footer*/

footer {
    margin-top: 20px;
    width: 100%;
    height: 65px;
    color: #000000;
}


.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 20px;
    line-height: 7px;
    text-align: center;
    color: #ffffff;
    background: #e84610;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}


#footer-details {
    margin: 20px;
}

/*------------------------------Video*/

video {
    width: 60%;
    height: auto;
    display: block;
}


/*------------------------------Image*/

#on-stage {
    width: 50%;
}

/*------------------------------Musics*/

.music {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #000000;
    margin-bottom: 10px;
}

/*------------------------------Contact*/

.contact-heading {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 0;
    color: #000000;
}

section h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000000;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #e84610;
    color: #fafafa;
}

/*------------------------------Media Queries*/

@media(max-width: 768px) {
    header {
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .title h1 {
        font-family: "Roboto", sans-serif;
        font-weight: 600;
        font-size: 60px;
        color: #000000;
    }

    video {
        width: 85%;
        height: auto;
    }
    img {
        width: 80%;
    }
    #on-stage {
        width: 85%;
    }
}
